* {
    box-sizing: border-box;
}

#container {
    position: relative;
    display: inline-block;
}

#subcontainer {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.healthWrapper {
    width: 100%;
    height: 30px;
    position: relative;
}

.healthContainer {
    background-color: yellow;
    height: 30px;
}

#playerHealthBar {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#enemyHealthBar {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}