* {
    box-sizing: border-box;
}

#container {
    position: relative;
    display: inline-block;
}

#subcontainer {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.healthWrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.healthContainer {
    background-color: #f25a97;
    height: 30px;
    width: 100%;
}

#playerHealthBar {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#enemyHealthBar {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#timer {
    /* font-family: fantasy; */
    color: white;
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameOver {
    font-size: 72px;
    /* font-family: fantasy; */
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}